@charset "utf-8";

/**
 * data.css
 *
 * @author 
 * @version 2016/3/22
 */

#dvPreview .imgOut{/*position: relative;overflow: hidden;*/position:relative;width: 23%;display: block;float: left;margin-right:2.5%;margin-bottom: 10px;padding: 0;background-color: #ccc;}
#dvPreview .imgOut a{display: block;overflow: hidden;position: relative;}
#dvPreview .upload_img_error{border:1px solid red;width: 22%;}
.uploading #dvPreview img {max-width: 23%;}
.uploading #dvPreview .uploadImg img{max-width:100%;display:block;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);position:absolute;top:50%;left: 50%;}
.delImg{background:url(/images/workflow/del.png) no-repeat;display:block;width:18px;height:18px;position:absolute;background-size:100%;top:-6px;right: -6px;}
.uploading .iconUp{width: 23%;}
#dvPreview .imgOut:nth-child(4n+4){margin-right: 0px;}